*{
    margin: 0;
    padding: 0;
    background: #100a1c;
    color: #6cacc5;
    background-image: radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-weight: lighter;
    font-size: 60px;
}

p{
    background: linear-gradient(45deg, #c97874, #00000000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 20px;
    margin-top: -10px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc{
    padding-top: 100px;
    width: 380px;
}
.calc-row{
    display: flex; 
}

button{
    border: none;
    border-radius: 5px;
    background: rgba(42, 50, 113, 0.28);
    color: #6cacc5;
    font-size: 30px;
    font-weight: bold;
    width: 65px;
    height: 65px;
    margin: 15px;
}

.screen{
    color: #c97874;
    font-size: 30px;
    font-weight: bold;
    width: 255px;
    height: 65px;
    margin: 15px;
    line-height: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: end;
}

button:hover{
    background-color: #201E40;
}